﻿<script src="~/Public/vue.js"></script>
@{
    ViewBag.Title = "Index";
}
<div class="col-md-12 col-lg-12 col-xl-12">
    <div id="divThisForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <label class="control-label text-right col-md-4">顯示個別縣市36小時天氣</label>
                    <div class="col-md-8">
                        <select class="form-control custom-select" v-model="location" v-on:change="changeLocation">
                            <option value="">==請選擇==</option>
                            <option v-for="(weather,index) in WeatherInfo" :value="weather.localName">{{weather.localName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">今日天氣</h5>
                    <div class="row">
                        <div class="table-responsive">
                            <div v-if="location==''">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地點</th>
                                            <th>天氣敘述</th>
                                            <th>最高溫</th>
                                            <th>最低溫</th>
                                            <th>降雨機率</th>
                                            <th>開始日期</th>
                                            <th>結束日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(weather,index) in WeatherInfo">
                                            <td>{{weather.localName}}</td>
                                            <td>{{weather.Content[0].weatherScript}}</td>
                                            <td>{{weather.Content[0].maxTem}}</td>
                                            <td>{{weather.Content[0].minTem}}</td>
                                            <td>{{weather.Content[0].pop}}</td>
                                            <td>{{weather.Content[0].beginTime}}</td>
                                            <td>{{weather.Content[0].endTime}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div v-else>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>地點</th>
                                            <th>天氣敘述</th>
                                            <th>最高溫</th>
                                            <th>最低溫</th>
                                            <th>降雨機率</th>
                                            <th>開始日期</th>
                                            <th>結束日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(weather,index) in townWeatherInfo">
                                            <td>{{location}}</td>
                                            <td>{{weather.weatherScript}}</td>
                                            <td>{{weather.maxTem}}</td>
                                            <td>{{weather.minTem}}</td>
                                            <td>{{weather.pop}}</td>
                                            <td>{{weather.beginTime}}</td>
                                            <td>{{weather.endTime}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var appVm;
    $(document).ready(function () {
        InitialForm();
        GetWeather("");
    });
    //建立Vue畫面
    function InitialForm() {
        appVm = new Vue({
            el: "#divThisForm",
            data: {
                WeatherInfo: [],
                townWeatherInfo:[],
                location:'',
            },
            methods: {
                changeLocation: function () {
                    PartGetWeather(this.location);
                },
            }
        });
    }

    function GetWeather() {
        $.ajax({
            url: "@Url.Action("GetWeather", "Weather")",
            type: "POST",
            data: {
                Location: ""
            },
            success: function (data) {
                var result = JSON.parse(data);
                appVm.WeatherInfo = result;
            },
            beforeSend: function () {
                appVm.WeatherInfo = [];
            }
        })
    }

     function PartGetWeather(location) {
        $.ajax({
            url: "@Url.Action("GetWeather", "Weather")",
            type: "POST",
            data: {
                Location: location
            },
            success: function (data) {
                var result = JSON.parse(data);
                appVm.townWeatherInfo = result[0].Content;
            },
            beforeSend: function () {
                appVm.townWeatherInfo = [];
            }
        })
    }
</script>
